/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.encuesta {
    position: fixed; /* Posición fija */
    top: 0; /* Alineado a la parte superior */
    left: 0; /* Alineado a la izquierda */
    width: 100%; /* Ancho completo */
    height: 100vh; /* Altura completa */
    z-index: 9999; /* Por encima de todo */
   /* Fondo dividido en dos colores semi-translúcidos */
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.99) 50%, rgba(184, 9, 44, 0.99) 50%);
   display: flex;
   flex-direction: column;
   justify-content: flex-end ;
   /* align-items: center; */
   text-align: left;
   color: rgb(0, 0, 0);
   font-family: Poppins, sans-serif;
   left: -105%;
   transition: left 2s;
}
.encuesta_logo {
   position: absolute; /* Posición absoluta */
   bottom: 0; /* Alineado a la parte inferior */
   left: 0; /* Alineado a la izquierda */
   transform: translate(-24%, 0%);
   width: 96.5vw;
   height: auto;
}
.encuesta-{
   /* border: 1px solid blue; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   width: 60vw;
   padding: 20px 35px;
   margin-bottom: 2vw;
}
.logo4t{
   position: absolute;
   width: 12vw;
   right:  12.3vw;
   top: 7.7vw;
}
.logo4t-{
   position: absolute;
   width: 25vw;
   right: 3vw;
   top: 1vw;
}
.logo4t_{
    position: absolute;
    width: 20vw;
    left: 3.8vw;
    top: 3.5vw;
 }
.t-{
   padding-top: 1vw;
   padding-bottom: 1vw;
   
}
.t1,
.t1a{
   font-size: 3.2vw;
   line-height: 42px;
   /* -webkit-text-fill-color: rgb(0, 0, 0);
   -webkit-text-stroke: 1px white; */
}
.t1a{
   line-height: 30px;
   /* -webkit-text-fill-color: crimson;
   -webkit-text-stroke: 1px white; */
}
.t2{
   font-size: 2.8vw;
   font-weight: 600;
   line-height: 4vw;
}
.t3,
.t3a{
   font-size: 6vw;
   line-height: 4.2vw;
}
.t3a{
   font-size: 4.1vw;
   line-height: 3vw;
}
.t4{
   font-size: 4vw;
   line-height: 5vw;
   font-weight: 400;
   padding-bottom: 13px;
   /* text-shadow: 1px 1px 1px black; */
}
.t5,
.t6{
   font-size: 4.8vw;
   line-height: .8vw;
   font-weight: 600;
   /* text-shadow: 1px 1px 1px black; */
}
.t1a span,
.t2 span,
.t3a span,
.t6 span{
   color: rgb(184, 9, 44);
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    /* max-width: 100%; */
    padding: 0 60px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    /* border: 3px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title-,
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 25px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar {
    transition: top .5s ease-in-out;
  }
.navbar.sticky{
    padding-top: 25px;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.navbar .logo a{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #ffffff;
}
.logo2{
    color: #ffffff; 
    font-size: 1.22vw;
    font-weight: 400;
    /* opacity: 0;
    animation: aparecer0 1.5s ease-in-out 2s forwards; */
}
/* @keyframes aparecer0 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} */
.logo1{
    font-size: 3.6vw;
    font-weight: 600;
    line-height: 0px;
/* opacity: 0;
    animation: aparecer 1.5s ease-in-out 1s forwards; */
}
/* @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} */
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    /* min-height: 500px; */
}
.background1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
.background2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    animation: cambiarImagen 75s linear infinite;
    animation-delay: 5s;
    transition: background-image 1s ease-in-out;
}

@keyframes cambiarImagen {
    0% {background-image: url('images/img1.png'); opacity: 0;}
    16% {background-image: url('images/img1.png'); opacity: 1;}
    20% {background-image: url('images/img1.png'); opacity: 0;}
    20.1% {background-image: url('images/img2.png'); opacity: 0;}
    36.1% {background-image: url('images/img2.png'); opacity: 1;}
    40% {background-image: url('images/img2.png'); opacity: 0;}
    40.1% {background-image: url('images/img3.png'); opacity: 0;}
    56.1% {background-image: url('images/img3.png'); opacity: 1;}
    60% {background-image: url('images/img3.png'); opacity: 0;}
    60.1% {background-image: url('images/img4.png'); opacity: 0;}
    76.1% {background-image: url('images/img4.png'); opacity: 1;}
    80% {background-image: url('images/img4.png'); opacity: 0;}
    80.1% {background-image: url('images/img5.png'); opacity: 0;}
    96.1% {background-image: url('images/img5.png'); opacity: 1;}
    100% {background-image: url('images/img5.png'); opacity: 0;}
}

.background3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    animation: cambiarImagen2 66s linear infinite;
    transition: background-image 0.5s ease-in-out; /* Tiempo de transición ajustado a 0.5s */
    display: none;
}

@keyframes cambiarImagen2 {
    0% {background-image: url('images/image1.png'); opacity: 0;}
    5% {background-image: url('images/image1.png'); opacity: 1;}
    10% {background-image: url('images/image1.png'); opacity: 1;}
    15% {background-image: url('images/image1.png'); opacity: 1;}
    20% {background-image: url('images/image1.png'); opacity: 0;}
    25% {background-image: url('images/image2.png'); opacity: 0;}
    30% {background-image: url('images/image2.png'); opacity: 1;}
    35% {background-image: url('images/image2.png'); opacity: 1;}
    40% {background-image: url('images/image2.png'); opacity: 1;}
    45% {background-image: url('images/image2.png'); opacity: 0;}
    50% {background-image: url('images/image3.png'); opacity: 0;}
    55% {background-image: url('images/image3.png'); opacity: 1;}
    60% {background-image: url('images/image3.png'); opacity: 1;}
    65% {background-image: url('images/image3.png'); opacity: 1;}
    70% {background-image: url('images/image3.png'); opacity: 0;}
    75% {background-image: url('images/image4.png'); opacity: 0;}
    80% {background-image: url('images/image4.png'); opacity: 1;}
    85% {background-image: url('images/image4.png'); opacity: 1;}
    90% {background-image: url('images/image4.png'); opacity: 1;}
    100% {background-image: url('images/image4.png'); opacity: 0;}
}

.home .max-width{
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.home .home-content{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    /* height: 40vw; */
}
.home .max-width .row{
    margin-right: 0;
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 5.8vw;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 39px;
    margin: 5px 0;
    line-height: 33px;
}
.home .home-content .text-4{
    font-size: 39px;
    margin: 5px 0;
}
/* #escritura1{
    color: crimson;
  } */
 #escritura3{
    /* color: crimson; */
    font-weight: 500;
  }
 /* #escritura2{
    color: crimson;
  } */
 #escritura4{
  font-weight: 500;
}
/* .oculto {
    visibility: hidden;
  } */
  .oculto1,
  .oculto2 {
    opacity: 0;
  }
.home-content_{
    /* border: 5px solid #00f7ff; */
    width: 100%;
    z-index: 100;
}
.home .home-content_ a{
    display: inline-block;
    margin-top: 15px;
    background: crimson;
    border: 2px solid crimson;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 15px;
    padding: 10px 26px;
    padding-bottom: 0;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
/* .home .home-content a{
    opacity: 0;
    animation: aparecer2 2.7s ease-in-out 10s forwards;
}
@keyframes aparecer2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} */
.home .home-content .arrow{
    font-size: 20px;
}

/* about section styling */
.about .title::after{
    content: "¿Quién soy?";
}
.about .about-content .left{
    border: 1px solid transparent;
    /* width: 40%; */
}
.about .about-content .left img{
    /* border: 1px solid blue; */
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.text_{
    line-height: 10px;
}
.text-{
    padding-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}
.docto, 
.gpc .max-width .btn_enfoque a,
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    padding: 0 26px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .left{
    transition: transform 1s;
}
.about .about-content .left:hover{
    transform: scale(1.07);
}
.gpc, .gpc2{
    /* border: 1px solid red; */
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.gpc2{
    /* border: 1px solid red; */
    background-color: #111;
}
.gpc .pc{
    border: 6px solid crimson;
    outline: 3px solid crimson;
    border: 6px solid #111;
    outline: 3px solid #111;
    outline-offset: -12px;
    border-radius: 20px;
    padding: 50px 10px;
    padding-top: 65px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Agrega la siguiente línea para el efecto de sombra */
    box-shadow: 10px 10px 5px grey;
}

/* .gpc .pw{
    background-color: #111;
    
} */
.gpc2 .max-width .pc {
    border: 3px solid rgb(65, 7, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid white;
    outline: 5px solid crimson;
    margin-bottom: 40px;
}
.title-{
    /* border: 2pc solid blue; */
    margin: 0;
    padding: 0;
}
.gpc2 .max-width .pc .img_container {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gpc2 .max-width .pc .img_container .img_wrapper {
    width: 100%; /* Ajusta este valor al tamaño que desees */
    height: 100%; /* Ajusta este valor al tamaño que desees */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gpc2 .max-width .pc .img_container .img_wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img1{
    border-right: 4px solid crimson;
    outline: 1px solid white;
}
.img2{
    border-left: 4px solid crimson;
    outline: 1px solid white;
 }
 .gpc2 .max-width .pc {
    transition: transform 0.5s;
}

.gpc2 .max-width .pc:hover {
    transform: scale(1.02);
}
.img_container {
     transition: transform 1s;
}
.img_container:hover {
    transform: scale(1.07);
}
.img_container .img_wrapper {
    transition: transform 1s;
}

.img_container .img_wrapper:hover {
    transform: scale(1.07);
}
.gpc2 .title::before{
    background: #fff;
}
.gpc2 .title::after{
    background: #111;
    content: "Convicciones";
}
.gpc .title::before{
    background: #111;
}
.gpc .title::after{
    background: #fff;
    content: "Más sobre mí";
}
.about .about-content .right a{
    display: none;
}
.docto:hover, 
.skills .skills-content .btn_gallery a:hover,
.gpc .max-width .btn_enfoque a:hover,
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
.docto::hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.docto{
    position: relative;
    border: 1px solid #fff;
    outline: 2px solid crimson;
    background: crimson;
    text-align: center;
    margin: 0;
    /* margin-top: 100px; */
    cursor: pointer;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.docto::before{
    position: absolute;
    content: "Mostrar documento PDF";
    color: black;
    font-size: 11px;
    padding: 10px 0 0 0;
    transform: translateX(-50%);
    top: 100%; /* Esto coloca el pseudo-elemento justo debajo del botón */
    left: 50%; /* Esto centra el pseudo-elemento con respecto al botón */
}
.docto::after{
    position: absolute;
    visibility: hidden;
    content: "Ocultar documento PDF";
    color: black;
    font-size: 11px;
    padding: 10px 0 0 0;
    transform: translateX(-50%);
    top: 100%; /* Esto coloca el pseudo-elemento justo debajo del botón */
    left: 50%; /* Esto centra el pseudo-elemento con respecto al botón */
}
.docto.show-before::before {
    visibility: visible;
}

.docto.show-before::after {
    visibility: hidden;
}

.docto.show-after::before {
    visibility: hidden;
}

.docto.show-after::after {
    visibility: visible;
}
.btn_container{
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contenedor{
    /* border: 2px solid rgb(0, 255, 34); */
    width: 100%;
    height: 65vh;
    display: flex;
    opacity: 0;
    visibility: hidden;
    margin-top: 37px;
    justify-content: center;
    background-color: rgba(0, 0, 0, .9);
    position: relative; /* Necesario para posicionar correctamente el pseudo-elemento */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), /* Sombra para dar profundidad */
                inset -2px -2px 10px rgba(255, 255, 255, 0.5), /* Sombra interna superior */
                inset 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra interna inferior */
    outline-offset: 10px; /* Espacio entre el borde y el contorno */
    overflow: hidden; /* Esconde el contenido que se desborde del contenedor */
    max-height: 0; /* No ocupa espacio cuando está oculto */
    transition: opacity 1.5s cubic-bezier(0.2, 0.8, 0.2, 1), visibility.5s, max-height 1.5s cubic-bezier(0.2, 0.8, 0.2, 1); /* Animación suave al mostrar/ocultar */
}
.contenedor::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
    background-image: url('images/escudo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
}
.visible {
    opacity: 1;
    visibility: visible;
    max-height: 100vh; /* Ocupa espacio cuando se muestra */
  }
.pdf-embed {
    /* border: 1px solid crimson;  */
    border-radius: 20px; /* Bordes redondeados */
    padding: 7px;
    width: 100%;
    position: relative; /* Permite mover el documento dentro del contenedor */
    transition: transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0.5s; /* Agrega un retraso de 0.5s */
}
.pdf1 {
    transform: translateX(-100%); /* Oculta inicialmente hacia la izquierda */
    z-index: 5;
  }
.pdf2 {
    transform: translateX(100%); /* Oculta inicialmente hacia la derecha */
    z-index: 5;
  }
.mostrar {
      transform: translateX(0); /* Muestra el documento al centrarlo */
    }
.btn_enfoque,
.btn_gallery{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.gpc .max-width .btn_enfoque a{
    margin-top: 50px;
}
.skills .skills-content .btn_gallery a{
    margin-top: 70px;
    margin-bottom: 10px;
}
.services, .teams, .gpc2{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "Guanajuato";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    /* cursor: pointer; */
    transition: all 0.3s ease;
}
.services{
    padding-top: 75px;
    padding-bottom: 75px;
}
/* .services .serv-content .card:hover{
    background: crimson;
} */
.services .serv-content .card .box{
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* .services .serv-content .card:hover .box{
    transform: scale(1.05);
} */
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
/* .services .serv-content .card:hover i{
    color: #fff;
} */
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services a{
    display: inline-block;
    text-align: center;
    background: crimson;
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    padding: 0 26px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 145px;
    margin-bottom: 60px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}
.services a:hover{
    color: crimson;
    background: none;
}

/* skills section styling */

.skills .skills-content{
    position: relative;
}
.skills .title::after{
    content: "Compromiso";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.skills .skills-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    padding: 0 26px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content a:hover{
    color: crimson;
    background: none;
}

/* teams section styling */
.family{
    border-top: 1px solid #8f8a8a;
}
.teams .title::after{
    content: "Regidora";
}
.family .title::after{
    content: "Unidad";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    /* border-radius: 50%; */
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.teams{
    padding-top: 75px;
    padding-bottom: 75px;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */
.contact .title::after{
    content: "Me importas";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .row .fa-envelope{
    font-size: 22.5px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .contact-content .info .sub-title_{
    display: none;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
/* .contact .contact-content .icons .row{
    position: relative;
}
.contact .contact-content .icons .row .tarjeta{
    position: absolute;
    top: 15px;
    left: 325px;
    width: 44%;
    z-index: 100;
    transition: transform 0.8s ease-in-out;
} */
.leyenda{
position: absolute;
font-family: Poppins, sans-serif;
background-color: crimson;
width: max-content;
font-size: 10.5px;
color: white;
text-align: center;
border: 2px solid #fff;
outline: 1px solid crimson;
border-radius: 5px;
padding: 2px 5px;
}
#leyenda1 {
    top: -45px;
    left: -24px;
}
#leyenda2, #leyenda3 {
    top: -24px;
    left: -1px;
    border-radius: 3px;
}
#leyenda3{
    left: -0px;
}
.fa-user{
    cursor: pointer;
}
.lienzo {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity .7s ease-in-out, visibility .7s ease-in-out;
    z-index: 9999;
}
.tarjeta{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .7s ease-in-out, visibility .7s ease-in-out;
    z-index: 10000;
  }
  .tarjeta:hover {
    cursor: pointer;
  }
 .right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* Color del cursor para todas las instancias */
/* .typed-cursor {
    color: rgb(33, 85, 196);   
} */
 /* Color del cursor por instancia individual */
 .typing-0{
    color: rgb(255, 255, 255); 
}
 .typing-1{
     color: rgb(255, 255, 255); 
     color: crimson; 
     /* font-style: oblique; */
     /* -webkit-text-fill-color: white;
     -webkit-text-stroke: 1px crimson;
     -webkit-text-fill-color: crimson;
     -webkit-text-stroke: 1px white; */
}
.typing-2{
    color: crimson; 
    color: rgb(255, 255, 255); 
    }
.typing-3{
    color: crimson; 
    color: rgb(255, 255, 255); 
}

/* responsive media query start */
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    /* .max-width{
        padding: 0 50px;
    } */
}

@media (max-width: 947px){
    .home{
    /* border: 1px solid red; */
    /* height: 115vh; */
    height: 110vh;
    }
    .menu-btn{
        /* border: 1px solid red; */
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    /* .navbar {
        transition: top .5s ease-in-out;
      } */
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgba(0, 0, 0, 0.88);
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease-in-out;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .logo2{
        font-size: 1.8vw;
        font-weight: 400;
    }
    .logo1{
        font-size: 5.3vw;
        font-weight: 600;
        line-height: 0px;
    }
    /* .home .home-content a{
        font-size: 23px;
        padding: 0px 30px;
        padding-top: 10px;
        opacity: 1;
    }
    @keyframes aparecer2 {
        from {
          opacity: 1;
        }
        to {
          opacity: 1;
        }
    } */
    .max-width{
        /* max-width: 100%; */
        padding: 0 22px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .gpc .max-width .btn_enfoque,
    .skills .skills-content .btn_gallery{
        width: 100%;
    }
    .docto, 
    .gpc .max-width .btn_enfoque a,
    .skills .skills-content .btn_gallery a,
    .about .about-content .right a{
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 15px;
        padding-bottom: 0; 
        margin-top: 15px;
    }
    .gpc .max-width .btn_enfoque a,
    .skills .skills-content .btn_gallery a{
        margin-top: 0;
    }
    .skills .skills-content .left a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        flex-direction: column;
        line-height: 15px;
        padding-top: 10px;
        padding-bottom: 0; 
        margin-top: 15px;
    }
    .services .serv-content .card{
        width: calc(45% - 100px);
        font-size: 12px;
        margin-bottom: 20px;
        padding: 25px 15px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    /* .home .max-width{
        justify-content: center ;
    } */
    .home .home-content{
        /* border: 1px solid #ff0202; */
        /* margin-top: -50px; */
        text-align: center;
    }
    .home .home-content .text-1{
        font-size: 4vw;
        line-height: 5.5vw;
        font-weight: 500;
    }
    .home .home-content .text-2{
        font-size: 8.8vw;
        line-height: 10vw;
        
    }
    .home .home-content .text-3{
        font-size: 4vw;
        line-height: 6vw;
    }
    .home .home-content .text-4{
        font-size: 4vw;
        line-height: 1.9vw;
        margin: 5px 0;
    }
    .home .home-content a{
        display: inline-block;
        text-align: center;
        line-height: 15px;
        padding: 0 26px;
        padding-top: 10px;
        padding-bottom: 0; 
        margin-top: 35px;
        width: 100%;
    }
    .services a{
        font-size: 18px;
        padding: 0 26px;
        padding-top: 10px;
        padding-bottom: 0; 
        margin-top: 110px;
        margin-bottom: 60px;
        width: 100%;
    }
    .background2{
        display: none;
    }
    .background3{
        top: 0px;
        left: 0px;
        width: 100%; 
        z-index: -1;
        display: initial;
        opacity: .5;
      }
    .tarjeta {
        width: 70vw;
      }
    .gpc .pc{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }
    .gpc2 .max-width .pc {
        height: 340px;
    }
     .home-content_{
        /* border: 3px solid #00f7ff; */
        width: 100%;
        display: flex; /* Añadido */
        align-items: center; /* Añadido */
        justify-content: center; /* Añadido */
    }
    .home .home-content_ a{
        width: 100%;
    }
    .typing-1{
        color: rgb(255, 255, 255); 
        color: crimson; 
        font-style: oblique;
        /* -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px crimson;
        -webkit-text-fill-color: crimson;
        -webkit-text-stroke: 1px white; */
   }
   .gpc2 .max-width .pc {
    height: auto; /* Ajusta este valor al tamaño que desees */
    }
   .gpc2 .max-width .pc .img_container .img_wrapper {
    /* border: 2px solid rgb(255, 255, 255); */
    /* border-radius: 20px; */
    width: 100%; /* Ajusta este valor al tamaño que desees */
    height: auto; /* Ajusta este valor al tamaño que desees */
    }
    .encuesta_logo {
        transform: translate(-20%, 0%);
        width: 90%;
        height: auto;
    }
    .encuesta-{
        /* border: 1px solid black; */
        /* width: 60vw; */
        padding: 20px 20px;
    }
    .logo4t_{
        width: 13vw;
        left: 5.5vw;
        top: 4.5vw;
     }
    .t-{
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .t1,
    .t1a{
        font-size: 4vw;
        line-height: 15px;
        padding: 0;
    }
    .t1a{
      padding-top: 20px;
      padding-bottom: 11px;
      line-height: 0;
    }
    .t2{
        font-size: 2.5vw;
        font-weight: 600;
        line-height: 0;
    }
    .t3,
    .t3a{
        font-size: 6vw;
        line-height: 3.5vw;
    }
    .t3a{
        font-size: 4vw;
        line-height: 0;
    }
    .t4{
        font-size: 4vw;
        line-height: 3.5vw;
        font-weight: 400;
    }
    .t5,
    .t6{
        font-size: 4.8vw;
        line-height: 2.5vw;
        font-weight: 500;
        padding: 0;
    }

 }
@media (max-width: 690px) {
     .services .serv-content .card{
        width: 100%;
    }
    .about .about-content .right .text{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 9px;
    }
    .home .home-content .text-1{
        font-size: 4.5vw;
        line-height: 5.5vw;
        font-weight: 500;
    }
    .home .home-content .text-2{
        font-size: 9.5vw;
        line-height: 10vw;
        
    }
    .home .home-content .text-3{
        font-size: 4.4vw;
        line-height: 6vw;
    }
    .home .home-content .text-4{
        font-size: 4.4vw;
        line-height: 1.7vw;
        margin: 5px 0;
    }
    .gpc2 .max-width .pc {
        flex-direction: column;
        /* height: 500px; */
        height: auto; /* Ajusta este valor al tamaño que desees */
        }
    .gpc2 .max-width .pc .img_container .img_wrapper {
        /* border: 2px solid rgb(255, 255, 255); */
        /* border-radius: 20px; */
        width: 100%; /* Ajusta este valor al tamaño que desees */
        height: auto; /* Ajusta este valor al tamaño que desees */
    }
    .img1{
        border-right: 0px solid;
        border-bottom: 4px solid crimson;
        outline: 1px solid white;
    }
    .img2{
        border-left: 0px solid;
        border-top: 4px solid crimson;
        outline: 1px solid white;
    }
 } 
@media (max-width: 500px) {
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .head{
        font-size: 15px;
    }
    .contact-content .sub-title{
        font-size: 12px;
    }
    .navbar .logo a{
        font-size: 17px;
    }
    .about .about-content .right .text{
        font-size: 15.5px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .home .home-content .text-1{
        font-size: 4.6vw;
        line-height: 5.5vw;
        font-weight: 500;
    }
    .home .home-content .text-2{
        font-size: 8.8vw;
        line-height: 10vw;
        
    }
    .home .home-content .text-3{
        font-size: 4vw;
        line-height: 6vw;
    }
    .home .home-content .text-4{
        font-size: 4vw;
        line-height: 1.4vw;
        margin: 5px 0;
    }
    .gpc2 .max-width .pc {
        /* height: 460px; */
        height: auto;
        flex-direction: column;
    }
    .gpc2 .max-width .pc .img_container .img_wrapper {
        /* border: 2px solid rgb(255, 255, 255); */
        /* border-radius: 20px; */
        width: 100%; /* Ajusta este valor al tamaño que desees */
        height: auto; /* Ajusta este valor al tamaño que desees */
    }
    .encuesta {
        background: linear-gradient(to bottom, rgba(184, 9, 44, 1) 50%, rgba(255, 255, 255, 1) 50%);
        justify-content: center;
        align-items: center;
  }
  .encuesta_logo {
      transform: translate(-70vw, 10vw);
      width: 150vw;
      height: auto;
  }
  .encuesta-{
      /* border: 1px solid rgb(0, 0, 0); */
      justify-content: center;
      align-items: center;
      width: auto;
      padding: 0 0;
      padding-top: 50vw;
      /* padding-bottom: 27vh; */
      /* padding-left: 20px; */
  }
  .logo4t{
      position: absolute;
      width: 27vw;
      top: 28vw;
      left: 29vw;
      transform: translate(13%, 55%);
  }
  .logo4t-{
      position: absolute;
      width: 72vw;
      top: 0;
      left: 0;
      transform: translate(25%, 22%);
  }
  .logo4t_{
    display: none;
  }
  .t-{
      padding-top: 2vw;
      padding-bottom: 2vw;
  }
  .t1,
  .t1a{
      font-size: 5.2vw;
      line-height: 0;
      padding: 0;
  }
  .t1a{
    padding-top: 20px;
    padding-bottom: 11px;
  }
  .t1a{
      line-height: 0;
  }
  .t2{
      font-size: 5.8vw;
      font-weight: 600;
      line-height: 4vw;
  }
  .t3,
  .t3a{
      font-size: 12vw;
      line-height: 9vw;
  }
  .t3a{
      font-size: 9vw;
      line-height: 7vw;
  }
  .t4{
      font-size: 6.4vw;
      line-height: 7vw;
      font-weight: 500;
  }
  .t5,
  .t6{
      font-size: 7.5vw;
      line-height: 4vw;
      font-weight: 500;
      padding: 0;
  }
  .t5{
      padding-top: 10px;
      padding-bottom: 11px;
  }
}
@media (max-width: 400px) {
    .head{
        font-size: 14px;
    }
    .contact-content .sub-title{
        font-size: 14px
    }
       .navbar .logo a{
        font-size: 15px;
    }
    .about .about-content .right .text{
        font-size: 13.6px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .contact .contact-content .info .sub-title__{
        display: none;
    }
    .contact .contact-content .info .sub-title_{
        display: initial;
        color: #333;
    }
   .logo2{
        font-size: 3vw;
        font-weight: 400;
    }
    .logo1{
        font-size: 8.8vw;
        font-weight: 600;
        line-height: 0px;
    }
    .home .home-content .text-1{
        font-size: 5vw;
        line-height: 8vw;
    }
    .home .home-content .text-2{
        font-size: 8vw;
        line-height: 10vw;
    }
    .home .home-content .text-3{
        font-size: 4.2vw;
        line-height: 5.5vw;
    }
    .home .home-content .text-4{
        font-size: 4.2vw;
        line-height: 3vw;
        margin: 5px 0;
    }
    .tarjeta {
        width: 86vw;
      }
      .gpc2 .max-width .pc {
        /* height: 53vh; */
        height: auto;
        flex-direction: column;
    }
      .gpc2 .max-width .pc .img_container .img_wrapper {
        /* border: 2px solid rgb(255, 255, 255); */
        /* border-radius: 20px; */
        width: 100%; /* Ajusta este valor al tamaño que desees */
        height: auto; /* Ajusta este valor al tamaño que desees */
    }
    .logo4t{
        position: absolute;
        width: 27vw;
        top: 25vw;
        left: 29vw;
        transform: translate(13%, 55%);
    }
    .logo4t-{
        position: absolute;
        width: 72vw;
        top: -3vw;
        left: 0;
        transform: translate(25%, 22%);
    }
    .encuesta_logo {
        transform: translate(-77vw, 20vw);
        width: 160vw;
        height: auto;
    }
  }
@media (max-width: 300px){
    .head{
        font-size: 13px;
    }
    .contact-content .sub-title{
        font-size: 9px
    }
    /* .home .home-content .text-3{
        font-size: 14px;
    } */
    .about .about-content .right .text{
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 7px;
    }
}
/* Media Query by resolution ranges */
@media only screen
and (min-width : 460px) 
and (max-width : 947px) {
  /* Los estilos van aquí */
  .menu-btn{
      /* border: 1px solid rgb(43, 93, 230); */
      display: block;
      z-index: 999;
  }
  .navbar .menu{
      position: fixed;
      height: 100vw;
      width: 100%;
      left: -100%;
      top: 0;
      background: rgba(0, 0, 0, 0.88);
      text-align: center;
      padding-top: 10px;
      transition: all 0.5s ease-in-out;
  }
  .navbar .menu li a{
      margin: 10px 0;
      font-size: 22px;
  }
}
/* Media Querys for mobile devices */
@media screen and (min-width: 948px) and (max-width: 1280px) {
    .background2{
        display: none;
    }
}
@media screen and (min-width: 700px) and (max-width: 947px) {
    .home .home-content{
        /* border: 1px solid #ff0202; */
        margin-top: -50px;
    }
}
@media screen and (width: 810px) and (height: 1080px) {
    .background3{
        background-size: cover;
        background-position: 50%;
    }
    .logo4t{
        position: absolute;
        top: 13vw;
        right: 22.5vw;
        transform: translate(13%, 12%);
    }
    .logo4t-{
        top: 5vw;
        right: 18vw;
        transform: translate(25%, 10%);
    }
    .logo4t_{
        width: 20vw;
        left: 3vw;
        top: 90vw;
     }
     .encuesta_logo {
        transform: translate(-85vw, 8vw);
        width: 200vw;
        height: auto;
    }
}
@media screen and (width: 1080px) and (height: 810px) {
    .logo4t_{
        width: 20vw;
        left: 5vw;
        top: 30vw;
     }
}
@media screen and (width: 1280px) and (height: 800px) {
    .logo4t_{
        width: 20vw;
        left: 4.5vw;
        top: 20vw;
     }
}
@media screen and (width: 800px) and (height: 1280px) {
    .logo4t{
        width: 15vw;
        top: 18vw;
        right: 23vw;
        transform: translate(13%, 12%);
    }
    .logo4t-{
        width: 30vw;
        top: 8vw;
        right: 18vw;
        transform: translate(25%, 10%);
    }
    .logo4t_{
        width: 20vw;
        left: 3vw;
        top: 115vw;
     }
     .encuesta_logo {
        transform: translate(-85vw, 8vw);
        width: 200vw;
        height: auto;
    }
}
@media screen and (width: 375px) and (height: 667px) {
    .encuesta_logo {
        transform: translate(-50vw, 18vw);
        width: 125vw;
        height: auto;
    }
    .logo4t{
        position: absolute;
        width: 27vw;
        top: 28vw;
        left: 29vw;
        transform: translate(13%, 12%);
    }
    .logo4t-{
        position: absolute;
        width: 72vw;
        top: 0;
        left: 0;
        transform: translate(25%, 10%);
    }
    .logo4t_{
        display: none;
     }
 }
 @media screen and (width: 667px) and (height: 375px) {
    .logo4t_{
        width: 19vw;
        left: 3.3vw;
        top: 12.5vw;
     }
 }